//Color variables
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorLightPurple: #B266FF;
$colorSemiLightPurple: #A26BD9;
$colorSemiDarkPurple: #9033ED;
$colorDarkPurple: #7844AD;
$colorLightGray: #F7F3FF;

//Size variables
