@import "src/styles/variables";

.showTestsSearchBar {
  width: 100%;
  height: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid $colorBlack;

  .testNameInputWrap, .statusSelectWrap {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 700px) {
  .showTestsSearchBar {
    flex-direction: row;
    align-items: center;
    grid-column-gap: 20px;

    .testNameInputWrap {
      width: 400px;
    }

    .statusSelectWrap {
      width: 200px;
    }
  }
}