@import "src/styles/variables";

.userMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;

  .linksContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    a {
      font-size: 15px;
      font-weight: 700;
      font-style: normal;
      color: $colorBlack;

      &.activeLink {
        color: $colorLightPurple;
      }

      &:hover {
        color: $colorDarkPurple;
        text-decoration: underline;
      }
    }

    .divider {
      margin: 0 6px;
      height: 30px;
      width: 2px;
      background-color: $colorDarkGray;
      border-radius: 5px;
    }
  }

  .userContainer {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;

    .dot {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background-color: $colorSemiDarkPurple;
      margin-right: 5px;
    }

    .userData {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      p {
        font-weight: 400;
        font-style: normal;
        color: $colorBlack;

        &.userName {
          font-size: 15px;
        }

        &.userEmail {
          font-size: 12px;
        }
      }
    }
  }

  .menuModal {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 30px;
    background-color: $colorDarkGray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: $colorBlack;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      cursor: pointer;

      &:hover {
        color: $colorDarkPurple;
      }
    }
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: visible;

  }
}

@media (min-width: 800px) {
  .userMenu {
    .linksContainer {
      visibility: visible;
    }

    .mobileMenu {
      visibility: hidden;
    }
  }
}