@import "src/styles/variables";

.userMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .mobileMenuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
    border-radius: 30%;
    transition: background-color ease-in-out 0.3s;
    visibility: visible;
    z-index: 101;

    &:hover {
      background-color: $colorLightPurple;
    }
  }

  .userContainer {
    width: auto;
    height: 100%;
    position: relative;

    .userDataWrapper {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;

      .dot {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: $colorSemiDarkPurple;
        margin-right: 5px;
      }

      .userData {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        p {
          font-weight: 400;
          font-style: normal;
          color: $colorBlack;
          white-space: nowrap;

          &.userName {
            font-size: 15px;
          }

          &.userEmail {
            font-size: 12px;
          }
        }
      }
    }

    .menuModal {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 30px;
      background-color: $colorDarkGray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 2px;

      p {
        color: $colorBlack;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
      }

      &:hover {
        p {
          color: $colorDarkPurple;
        }
      }
    }
  }
}

@media(min-width: 800px) {
  .userMenu {
    justify-content: flex-start;

    .mobileMenuIcon {
      visibility: collapse;
    }
  }
}